@import "tailwindcss";



body {
  overflow-y: hidden;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

#layout {
  display: flex;
  justify-content: center;
}
#body-header {
  width: 100%;
  height: 900px;
}
#body {
  overflow-y: scroll;
  background-color: black;
  width: 100%;
  height: 800px;
}

/* ! Nav Bar */
#navbar {
  padding-top: 100px;
  width: 200px;
  height: 1000px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
#navbar > a:hover {
  background-color: #f0f0f0;
  color: #000000;
}
#navbar > a >svg{
  margin: 10px 0;
}
#navbar > a {
  font-size: 20px;
  font-weight: 600;
  border: 1px solid black;
  padding: 10px;
  width: 90%;
  margin: 10px 5%;
  /* border-radius: 5px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* ! Nav Bar END */
/* ! Header*/
#header {
  height: 100px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 0 20px;
}
#name-header {
  font-size: 24px;
  font-weight: 700;
  color: #000000;
}
#icon-notification{
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 30px;
  position: relative;
}
#icon-wallet{
  height: 50px;
  width: 12 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  font-size: 20px;
  font-weight: 700;
}
#icon-notification:hover{
  color: red;
}
#alert{
  height: 20px;
  width: 20px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  right: 4px;
  font-size: 13px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;  
}
/* ! Header END */
/* ! Home */
#home{
  padding: 10px 20px;
}
#title{
  font-size: 28px;
  font-weight: 700;
  border: 2px solid white;
  color: white;
  padding: 5px 10px;
  width: 350px;
}
#content{
  width: 1400px;
  min-height: 80px;
  background-color: white;
  margin: 20px 0;
}
#card-content{
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  border-bottom: 1px solid #0000004d;
}
#title-card{
  width: 400px;
  font-size: 22px;
  font-weight: 700;
}
#description-content{
  width: 600px;
  font-size: 18px;
  color: #000000a1;
  font-weight: 600;
}
#date-content{
  width: 150px;
  font-size: 22px;
  font-weight: 800;
  color: #0000009d;
}
#button-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90px;
}
#button-content>button{
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}
#button-content>button:hover{
  background-color: #000000;
  color: white;

}
/* ! END Home */
/* ! Profile */
#profile{
  padding: 10px 20px;
}
#cards-skills{
  width: 100%;
  min-height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.item-skill>h5{
  font-size: 20px;
  font-weight: 700;
}
.item-skill>p{
  font-size: 22px;
  font-weight: 800;
}
.item-skill{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 60px;
  width: 300px;
  background-color: #cfcfcfc7;
  margin: 10px;
  color: black;
}
/* ! END Profiile */
/* ! Shop */
#content-shop{
  min-height: 600px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-wrap: wrap;
  margin: 20px;
}
#card-shop{
  height: 250px;
  width: 250px;
  margin: 0 10px;
  background-color: #f0f0f0;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  position: relative;
}
#card-shop>img{
  height: 150px;
  width: 150px;
  margin: 10px 0;
  background-color: #000000;
}
#card-shop>h2{
  font-size: 20px;
  font-weight: 700;
}
#card-shop>p{
  font-size: 18px;
  font-weight: 600;
  color: #000000a1;
}
#card-shop>p>span{
  font-size: 20px;
  font-weight: 800;
  color: rgb(228, 85, 85);
}
#buttons{
  position: absolute;
  right: 3px;
  top: 3px;
  display: flex;
  flex-direction: column;
}
#buttons>button{
  padding: 5px;
  border-radius: 50%;
  /* background-color: rgba(185, 175, 175, 0.459); */
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.3px solid #000000;
  cursor: pointer;
  stroke: black;
}
#buttons>button:hover{
  background-color: #00000046;
  stroke: white;
}
#title>a:hover{
  background-color: rgba(245, 245, 245, 0.493);
}
#title>a{
  padding: 10px;
  margin: 0 10px;
  background-color: #f0f0f0;
  color: #000000;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  width: 44px;
}
/* ! END Shop */
/* ! New Shop */
#content-new-shop{
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  flex-direction: column;
  margin: 20px;
  background-color: rgb(231, 208, 164);
}
#content-new-shop>li{
  display: block;
  margin: 20px 0;
}
#content-new-shop>li>img{
  height: 200px;
  width: 200px;
  border-radius: 10px;
  background-color: #000000;
}
#content-new-shop>li>button{
  padding:5px 10px ;
  font-size: 22px;
  font-weight: 700;
  color: black;
  border: 2px solid #000000;
  border-radius: 5px;
  cursor: pointer;
}
#content-new-shop>li>button:hover{
  background-color: #000000;
  color: white;
}
#content-new-shop>li>label{
  font-size: 20px;
  margin-right: 20px;
  font-weight: 700;
}
#content-new-shop>li>input{
  width: 300px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #000000;
  padding: 5px;
}
/* ! END New Shop */